/**
 Escalas de colores. De más oscuros a más claros:
 
 	General:
 		$background = '#Fcf3e2';
 		$black='#000000';
 		$white='#FFFFFF';
 		$titulos='#336699';
 
  	Grises:
 		$escala0_00 = '#AAAAAA';
 		$escala0_01 = '#CCCCCC';
 		$escala0_02 = '#DDDDDD';
 		$escala0_03 = '#EEEEEE';
 		
 	Azules:
 		$escala1_00 = '#336699';
 		$escala1_01 = '#A0B4CE';
 		$escala1_02 = '#E6ECF6';
 		$escala1_03 = '#EEFFFF';
 	
 	Verdes:
 		$escala2_00 = '';
 		$escala2_01 = '#009966';
 		$escala2_02 = '#DEE3DC';
 		$escala2_03 = '#CCFFCC';
 		
 	Amarillos:
  		$escala3_00 = '#FFCC33';
 		$escala3_01 = '#FFCC00';
 		$escala3_02 = '#FFFF99';
 		$escala3_03 = '#FFFF33';
 		
 	Rojos:
  		$escala4_00 = '#ff0000';
 		$escala4_01 = '#FF3333';
 		$escala4_02 = '#FF6666';
 		$escala4_03 = '#FF9999'; 
 		
 */

/* Por compatibilidad con la nueva versión */
div.ArchivosAdjuntos{
	position:fixed;
	
	width:55%;
	bottom:8ex;
	right:3em;
	
	max-height:8em;
	overflow:auto;
}
div.ArchivosAdjuntos table th{
	border-spacing:0;
	padding:0;
	font-size:small;
	border-style:outset;
	border-width:thin;
}
div.ArchivosAdjuntos{
	border-spacing:1px;
	background-color:#A0B4CE;
}
div.ArchivosAdjuntos table th{
	border-color:black;
	background-color:#BBBBBB;
}
div.ArchivosAdjuntos table tr[par] td{
	background-color:#DDDDDD;
}
div.ArchivosAdjuntos table tr[impar] td{
	background-color:#EEEEEE;
}
div.ArchivosAdjuntos table tr:hover td{
	background-color:#EEFFFF;
}

div#titulo{
	text-align: center;
	font-size:medium;
	color:#336699;
}

/* Opciones por defecto */

A:link {text-decoration: none;
 	color:$escala1_00;}
A:visited {text-decoration: none;
 	color:$escala1_00}
A:active { color:$escala1_00 }
A:hover {
	text-decoration:overline underline;
	color:$escala1_00;
	background-color:$escala1_03;}


A.ldark {
	color:$escala0_00;
}
A.ldark:hover {
	text-decoration:overline underline;
	color:$escala0_01;
	background-color:transparent;}

/* La url de la imagen deberá quitarse... pero mientras... */
A.external {
		background: url(/sigilaV2/Graficas/img/external.png) center right no-repeat;
}

UL {list-style: outside}

.blanco{	
	color: #FFF; 
}
input{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px; 
	color: $black; 
	background-color: $escala0_03; 
	border: 1px $black solid;
}
input:hover{
	color: $black; 
	background-color: $escala1_03;
	border: 1px $black solid
}
input:active{
	color: $black; 
	background-color: $escala1_03;
	border-top: 1px $black solid;
	border-left: 1px $black solid;
	border-bottom: 1px $white solid;
	border-right: 1px $white solid;
}
input[warning]{
	border: 1.5px $escala4_02 solid;
}


select{ 
	font-family: Tahoma, Verdana, Arial, sans-serif; 
	font-size: 11px; 
	color: $black;
	background-color: $escala0_01;
	border: $escala0_00; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px;
	border-bottom-width: 1px; 
	border-left-width: 1px
}

select:hover{
	color: $black; 
	background-color: $escala1_03;
	border: 1px $black solid	
}

select[hilight]{
	color: $black; 
	background-color: $escala1_03;
	border: 1px $black solid	
}

table{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	font-size:small;
}
table th{
	background-color:$escala0_01;
}
tr{
  	text-align:center;
 	font-size:small;
}
tr[hover]:hover td{
	background-color:$escala1_03;
}
tr[ok] td{
	border: 1px $escala0_01 solid;
	background-color:$escala2_03;
}
tr[warning] td{
	border: 1px $escala0_01 solid;
	background-color:$escala3_02;
}
tr[error] td{
	border: 1px $escala0_01 solid;
	background-color:$escala4_03;
}
tr[closed] td{
	border: 1px $escala0_01 solid;
	background-color:$escala0_00;
}


td{
  	text-align: left;
}
td[ok]{
	border: 1px $escala0_01 solid;
	background-color:$escala2_03;
}
td[warning]{
	border: 1px $escala0_01 solid;
	background-color:$escala3_02;
}
td[error]{
	border: 1px $escala0_01 solid;
	background-color:$escala4_03;
}
td[closed]{
	border: 1px $escala0_01 solid;
	background-color:$escala0_00;
}

tr.par{
	background-color:$escala0_02;
	font-size:small;
}
td.par{
	background-color:$escala0_02;
	font-size:small;
}
td[hover]:hover {
	background-color:$escala1_03;
}
tr.impar{
	background-color:$escala0_03;
	font-size:small;
}
td.impar{
	background-color:$escala0_03;
	font-size:small;
}

textarea{
	background-color:$white;
}

textarea[readonly]{
	background-color:$escala1_02;
}

p.nota{
	color:$escala1_00;
	font-size:small;
	background-color:$escala2_02;
	border-style:solid;
	border-width:1px;
	border-color:$black;
}

/* Fin Opciones por defecto */


/* ******************************************************************************** */
/* Cabecera                                                                         */
/* ******************************************************************************** */

TABLE.SuperCabecera{
 display:table;
 border-spacing:0;
 padding:0;
 border-color:$background;
 width:95%;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
 background-color:#FFFFFF;
 color:$escala1_00;
 font-size:x-large;
  margin-top:-5px;	
 margin-bottom:-5px;
}

TABLE.Cabecera{
 display:table;
 border-spacing:0;
 padding:0;
 border-color:$escala1_00;
 width:95%;
 height:4%;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
 background-color:$escala1_00;
 color:$escala1_03;
 font-size:x-small; 
}

/* ******************************************************************************** */
/* Cuerpo                                                                           */
/* ******************************************************************************** */

BODY{
background-color:#FFFFFF;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font: 100% "MS Arial", sans-serif}
TD.TituloPag{
text-align: center;
color:$titulos;
padding-top:1em;
 font-size:medium}
 
 TD.TituloPag2{
text-align: center;
color:$titulos;
 font-size:medium}
 
TD.MiniTituloPag{
text-align: center;
color:$titulos;
padding-top:0.2em;
 font-size:medium}
 
P.titulo{
	background-color:$escala1_01;
	color:$black;
	position:absolute;
	text-align:center;
	top:0;
	width:100%;
}

/* ******************************************************************************** */
/* Menú horizontal                                                                  */
/* ******************************************************************************** */

#menuh {
	position:absolute;
	background-color: $escala1_00;
	font-size:x-small; 
	width: 99%;
	float: left;
}

#menuh ul {
	float: left;
	margin:0;
	padding:0;
	list-style: none;
	font-size:x-small;
	width: 100%;
}

#menuh a.resaltado {
	background-color: $escala1_02;
	color: $black;
}

#menuh a {
	display:block;
	border-top:0.5px solid $white;
  	border-bottom: 2px solid $escala0_00;
  	border-right: 2px solid $escala0_00;
	padding: 0px 3px;
	margin:0;
	background-color: $escala1_00;
	color: $white;
	font: bold 10px/14px Verdana, Arial, Helvetica, sans-serif;
}

#menuh a:hover {
	background-color: $escala1_02;
	color: $black;
}

#menuh a:active {
	background-color: $escala1_03;
	color: $black;
}

#menuh li {
	/* make the list elements a containing block for the nested lists */
	position: relative;
    float: left;
    width:auto;
    min-width:8.5em;
}

#menuh ul ul li {
	width:auto;
    min-width:12em;
    white-space:nowrap; 
}

#menuh ul ul {
	position: absolute;
	z-index: 500;
}

#menuh ul ul ul {
	top: 0;
	left: 100%; /* to position them to the right of their containing block */
}

div#menuh ul ul,
div#menuh ul li:hover ul ul,
div#menuh ul ul li:hover ul ul{
	display: none;
}

div#menuh ul li:hover ul,
div#menuh ul ul li:hover ul,
div#menuh ul ul ul li:hover ul{
	display: block;
}


/* Menú Inferior (Horizontal) */
div.bottomMenu{
	position:fixed;
	right:0;
	bottom:0;
	display:block;
	text-align:right;
}
div.bottomMenu{
	position:fixed;
	right:0;
	bottom:0;
	display:block;
	text-align:right;
}
div.bottomMenu table{
	width:60%;
	border-width:thin;
	border-style:inset;
	border-color:$escala0_00;
	background-color:$escala1_01;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}
div.bottomMenuLeft{
	position:fixed;
	left:0;
	bottom:0;
	display:block;
	text-align:right;
}
div.bottomMenuLeft table{
	width:60%;
	border-width:thin;
	border-style:inset;
	border-color:$escala0_00;
	background-color:$escala1_01;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}

/* Menú Inferior Izquierdo (Vertical Desplegable) */
div.footerMenu{
	z-index:5000;
	position:fixed;
	width:6%;
	left:0;
	bottom:-0.35em;
	display:block;
	text-align:right;
	letter-spacing:0.2ex;
}
div.footerMenu table{
	width:96%;
	border-width:thin;
	border-style:outset;
	border-color:$background;
	color:$white;
	background-color:$escala1_00;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}

/* Capas Contenedoras (Ajax) */
/* Por definir: width, heitht, margin-left */
#container{
	position: absolute;
	margin-top: 5px;
	border-width: medium;
	border-color: $escala1_02;
	border-style: solid;
	color: $black;
	background-color: $escala0_02;
	font-size:x-small;
}
div.subContainer{
	overflow: auto;
	background-color: $escala0_02;
} 
 
/* ******************************************************************************** */
/* Los nuevos estilos creados para el admin por JuanRa, un tío con gusto, sí señor  */
/* ******************************************************************************** */

DIV.BloqueAdmin{
position:absolute;width:80%;text-align:left;overflow:visible;margin-left:0%;font-family:monospace;
/*
En usuarios es:
position:absolute;width:80%;text-align:left;overflow:auto;margin-left:0%;font-family:monospace;*/
}
DIV.InfoAdmin{
visibility:collapse;width:100%;text-align:right;
}

Table.ListaGris{
border-width:thin;
border-style:solid;
background-color:white;
}

TD.ListaGrisA{ /*Grupos*/
	border-width:thin;
	border-style:solid;
	border-color:$escala0_02;
	background-color:$escala0_02;	
}

TD.ListaGrisB{ /* Roles */
	border-width:thin;
	border-style:solid;
	border-color:$escala0_02;
	background-color:$escala0_03;	
}

TR.ListaGrisF0 TD{ /* Para filas pares/impares */
	background-color: $escala0_03;
}

TR.ListaGrisF1 TD{ /* Para filas pares/impares */
	background-color: $escala0_02;
}

#leyendaAdmin{
	float:right;margin-top:0%;margin-left:80%;background-color:white;font-family:monospace;
}

#leyendaAdmin TD{
	padding:3px;
}

/* Fin de los estilos de JuanRa */

TABLE.Lista{
	 padding:4px;
	 border-spacing:0;
	 border:0;
	 width:90%;
	 border-color:$escala0_02;
	 background-color:$escala0_02;
	 font-size:small;
}

TABLE.Lista2{
	padding:4px;
	border:0;
	width:100%;
	border-color:$escala2_02;
	background-color:$escala0_01;
}
       
TR.ListaTitulo{
	 border-spacing:0;
	 background-color:$escala0_01;
	 padding:0;
	 font-size:small;
	 color:black;
	 vertical-align:middle
}

TD.ListaTitulo{
	background-color:$escala0_01;
	border:thin outset $black;
}
 
TD.Destacado{
 	color:red
}
TD.Transparente{
 	background-color:#FFFFFF;
}

TR.ListaResPar{ 
	font-size:x-small;
	color:black; 
	vertical-align:middle; 
	background-color:$escala1_01;
	border-bottom-width:2px; 
	border-bottom-color:gray
}
 
TABLE.cabecera{
	margin-left:3ex;
	width:80%;
	margin-top:1em;
	border-top-style:solid;
	border-top-width:thin;
	border-top-color:$escala1_00;
	border-bottom-style:solid;
	border-bottom-width:thin;
	border-bottom-color:$escala1_00;
}
TABLE.cabecera TD:first-child{
	width:10em;
	vertical-align: middle;
	background-color: $escala1_02;	
}
TABLE.cabecera TD{
	vertical-align: top;
	background-color: $white;	
}
 
/* ******************************************************************************** */
/* Botones                                                                          */
/* ******************************************************************************** */

TABLE.Botoncitos{
margin-left:auto;
margin-right:auto;
 padding:1px;
text-align:justify;
width:10%}

TD.ColDer{text-align:left;padding-left:2px;border-width:medium;color:gray; width:50%}
TD.ColIzq{text-align:right;padding-right:2px;border-width:medium;color:gray; width:50%}

TD.ColCentro{text-align:center;padding-left:2px;border-width:medium;color:gray}

/* ******************************************************************************** */
/* Página de introducción de datos mediante formularios                             */
/* ******************************************************************************** */

TABLE.FormTitulo{
 font-size:x-small;
 color:$black;
 padding:3em;
 text-align:center
 }

/* ******************* */
/* ** Tabla-Menú     * */
/* ******************* */

TABLE.MenuTable{
 border-spacing:1px;
 background-color:$escala1_01;
 padding:0;
 font-size:small;
 color:$black;
 vertical-align:top
}

TR.MenuTable{
 border-spacing:0;
 background-color:$escala1_01;
 padding:0;
 font-size:small;
 vertical-align:middle
}

TH.MenuTable{
 border-spacing:0;
 background-color:$escala1_01;
 padding:0;
 font-size:small;
 vertical-align:middle
}

TD.MenuTable{
 border-spacing:0;
 background-color:$escala1_01;
 padding-left:3px;
 padding-right:3px; 
 font-size:small;
 color:$black;
 vertical-align:middle
}

a.MenuTable{
 background-color:$escala1_01;
 padding-left:3px;
 padding-right:3px; 
 font-size:x-small;
 vertical-align:middle
}

a.MasInfo{
 padding-left:3px;
 padding-right:3px; 
 font-size:x-small;
 vertical-align:middle
}

/* ****************************** */
/* ** Capa de info flotante     * */
/* ****************************** */

div.finfo{
	position:absolute;
	display:none;
	visibility:collapse;
	margin-left:-15ex;
	margin-top:1.5em;
	background-color:$white;
	text-align:left;
	width:80ex;
	max-height:180px;
	border:1px solid $escala1_00;
	border-right-width:2px;
	border-bottom-width:2px;
	overflow:auto;
	z-index:100;
}

div.finfo table{
	width:100%;
}

div.tip{
	position:absolute;
	display:none;
	background-color:$escala3_01;
}

/* *********************************** */
/* ** Capas de posicionamiento fijo  * */
/* *********************************** */

div.block_right{
	position:absolute;
	margin-left:67%;
	top:12em;
	display:block;
	text-align:left;
	width:25%;
	border:1px solid $white;
	background-color:$escala0_03;
	padding-top:3%;
	padding-bottom:7%;
	padding-left:2ex;
	padding-right:2ex;
}

div.block_left{
	position:fixed;
	min-width:25%;
	max-width:27%;
	left:5%;
	height:50%;
	overflow:visible;
	text-align:left;

	border:1px solid $white;
	background-color:$escala0_03;
	padding-top:2%;
	padding-bottom:5%;
	padding-left:0;
	padding-right:4ex;
}

div.editable{
	background-color:$white;
}
/* *********************************** */
/* *  Estilos para campos editables  * */
/* *********************************** */
input.editable{
	background-color:$white;
}
textarea.editable{
	background-color:$white;
}
input.normal{
	background-color:transparent;
}
textarea.normal{}

/* *********************************** */
/* ** Estilo de las ventanitas       * */
/* *********************************** */

div.ventanita{
	background-color:transparent;
	border-top: 2px solid $escala0_01;
	border-left: 2px solid $escala0_01;
	position:absolute;
	min-width:20em;
	min-height:3ex;
	overflow:hidden;
}

div.contenido{
	min-width:30em;
	width: 100%;
	height:100%; 
	padding-top: 2.4ex;
}

div.cabecera{
	position: absolute;
	top:0;
	left:0;
	right:4px;
	height: 2.3ex;
	width:auto;
	background-color:$escala2_02;
	text-align:center;
	font-variant:small-caps;
	cursor: move;
}
div.v_boton{
	position: absolute;
	width:1em;
	bottom:0;
	background-color:$escala0_01;
	border-left: 1px solid $white;
	text-align:center;
	font-variant:small-caps;	
	cursor: pointer;
}
div.redim_Abajo{
	position: absolute;
	bottom:0;
	left:0;
	right:10px;
	height: 4px;
	width:auto;
	background-color:$black;
	cursor:s-resize;
}
div.redim_Derecha{
	position: absolute;
	top:0;
	right:0;
	height: auto;
	bottom:10px;
	width:4px;
	background-color:$black;
	cursor: e-resize;
}

div.redim_AD{
	position: absolute;
	bottom:0;
	right:0;
	width:10px;
	height: 10px;
	background-color:$escala0_00;
	cursor: se-resize;
}
.arrastrando{
	border: 2px solid $black;
	background-color: $escala1_02;	
}

.tooltip{
	border: 1px solid #000;
	background-color: #444;
	padding: 4px;
	color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 150px;
}

.tooltip2{
	border: 3px solid #933;
	background-color: #600;
	padding: 10px;
	color: #ccc;
}

.tooltip3{
	border: 2px solid white;
	background-color: $escala0_03;
	padding: 2px;
	color: $escala4_00;
		
}

/**
Tests
*/
div.hct {
                background-color: $escala0_00;
                -moz-border-radius-topright: 4px;
				-moz-border-radius-topleft: 4px;
				-moz-border-radius-bottomleft: 4px;
				-moz-border-radius-bottomright: 4px;
                position: absolute;
                width: 170px;
                height: 20px;
                font-size: 10px;
                font-weight: bold;
                text-align: center;
                white-space: nowrap;
                padding-top: 10px;
                padding-left: 10px;
                display: none;
                cursor: pointer;
        } 
div.hct:hover {
         	  background-color: $escala2_02;
}
#hpt {
        position: absolute;
        width: 10px;
        height: 10px;
        display: none;
        background: 000;
        opacity: 0;
}

/*COMENTARIOS DE LAS INCIDENCIAS*/
.autor{
	color:#555;
	background-color:#cdcdcd;
	margin:0px;
	padding-left:15px;
	padding-right:15px;
	padding-top:6px;
	padding-bottom:6px;
	border-bottom:1px solid #aaa;
}

.editar{
	color:#555;
	background-color:#f2f2f2;
	margin:0px;
	padding-left:15px;
	padding-right:15px;
	padding-top:3px;
	padding-bottom:3px;
	border-bottom:1px dotted #aaa;
	text-align:right;
}

.coordinador{
	color:#fff;
	background-color:#777;
	margin:0px;
	margin-top:3px;
	margin-left:25px;
	padding-left:15px;
	padding-right:15px;
	padding-top:6px;
	padding-bottom:6px;
	border-bottom:1px solid #666;
}

.comentario{
	background-color:#FFF;
	margin:0px;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
}

.respuesta{
	background-color:#FFF;
	margin:0px;
	margin-left:25px;
	padding-left:15px;
	padding-right:15px;
	padding-top:6px;
	padding-bottom:6px;
	margin-bottom:10px;
}


.r_res{
	font-weight:bold;
	background-color:#fffbb9;
	margin:0px;
	padding-left:15px;
	padding-right:15px;
	padding-top:3px;
	padding-bottom:3px;
	border-top:1px solid #e3df9f;
}

/*FIN*/

/*FORMULARIO COMENTArios*/

#f_comentario label{
	display:block;
	margin-bottom:4px;
	font-size:12px;
	color:#333;
}

#f_comentario textarea{
	width:98%;
	height:150px;
	border-top:1px solid #dedede;
	border-left:1px solid #dedede;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
	padding:4px;
	font-size:12px;
	color:#454545;
	
}

.info_com{
	font-size:12px;
	font-weight:bold;
	text-align:center;
}


