/* Incluyendo los Colores */
@import './colores.css';

/* ******************************************************************************** */
/* Estilos generales																										*/
/* *********************************************************************************/
body{
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font: 100% "MS Arial", sans-serif
}
input.borrar{
	background-color: red;
	color: white;
	}
#contenedor{
	margin: 20px auto;
	width: 90%;
	}
TD.TituloPag{
text-align: center;
color:$titulos;
padding-top:1em;
 font-size:medium}
 
 TD.TituloPag2{
text-align: center;
color:$titulos;
 font-size:medium}
 
TD.MiniTituloPag{
text-align: center;
color:$titulos;
padding-top:0.2em;
 font-size:medium}


Table.ListaGris{
border-width:thin;
border-style:solid;
background-color:white;
}


table.super_cabecera{
 display:table;
 border-spacing:0;
 padding:0;
 width:95%;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
 font-size:x-large;
 margin-top:-5px;	
 margin-bottom:-5px;	
}


div#titulo{
	background-color: #fb8c07;
	/*letter-spacing: -.5px;*/
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	width:240px;
	margin: 0 auto;
}

div#error_msg{
	position:absolute;
	top:7px;
	right:5px;
	font-size:x-small;
	font-weight:bold;
	width:350px;
	z-index:20;
	min-height:100px;
	max-height: 400px;
	overflow:auto;
	}

/* ******************************************************************************** */
/* Elementos comunes   																								*/
/* *********************************************************************************/
/* Enlaces */
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration:overline underline;
}
label.nota{
	font-size:xx-small;
	}
input{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px; 
	border-style:solid;
	border-width:1px;
}
input[warning]{
	border-width: 1.5px;
	border-style: solid;
}

/* Varios */
p.nota{
	font-size:small;
	border-style:solid;
	border-width:1px;
}

#myAccordion{
	width:99%;
	bottom:2ex;
}
#myAccordion dt{
	border: 1px solid;
	padding: 0 10px; /*segundo 10*/
}
#myAccordion dt.myAccordionActive{
	border: 1px outset;
	color: #FB8C07;
	background-color: #211A4E;
}
#myAccordion dd{
	overflow: auto;
}

/* ******************************************************************************** */
/* División de páginas en horizontal (detalles incidencias, problemas, RFCs...)		*/
/* **********************************************************************************/
div.colIzquierda{
	position:fixed;
	left:3em;
	
	font-size: small;

	max-width: 50%;
	max-height: 75%;
	
	overflow:auto;
	margin-top: 3ex;
	margin-bottom:3ex;

}

div.colDerecha{
	position:fixed;
	right:4em;

	font-size: small;
	
	max-width: 50%;
	max-height: 75%;
	
	margin-top: 3ex;
	margin-bottom: 2ex;
}

/* ******************************************************************************** */
/* División de páginas en vertical (búsquedas, listados...) 						*/
/* **********************************************************************************/
div.menuFiltros{
	position:relative;
	left:3em;
	width:90%;

	text-align:justify;
	
	margin-top: 4.5ex;
	margin-bottom: 3ex;
}

div.menuFiltros table{
	padding:0;
	font-size:small;
	vertical-align:top;
	width:100%;
}

div.menuFiltros table tr,th,td{
	border-spacing:0;
	padding-left:3px;
	padding-right:3px; 
	font-size:small;
	vertical-align:middle;
}

div.menuFiltros a{
 font-size:x-small;
}

div.listado table{
	width:100%;
}
div.listado table th{
	border-spacing:0;
	padding:0;
	font-size:small;
	vertical-align:middle;
	border-style:solid;
	border-width:thin;
}

div.listado{
	max-width:99%;
}
div.listado table tr[par] td{
	font-size:small;
}

div.listado table tr[impar] td{
	font-size:small;
}

div.listado table tr:hover td{
}

/* ******************************************************************************** */
/* Menú Inferior (fijo en la parte de abajo) 										*/
/* *********************************************************************************/
div.MenuInferiorFijo{
	position:fixed;
	right:0;
	bottom:0;
	display:block;
	text-align:right;
	font-size:x-small;
}
div.MenuInferiorFijo table{
	margin-left:20%;
	width:60%;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}
div.MenuInferiorFijo table td{
	text-align:right;
}
div.MenuInferiorFijo table a{
	margin-left:2em;
}
/* ******************************************************************************** */
/* Menú Inferior Izquierdo (Desplegable)											*/
/* **********************************************************************************/
div.footerMenu{
	z-index:5000;
	position:fixed;
	width:6%;
	left:0;
	bottom:-0.35em;
	display:block;
	text-align:right;
	letter-spacing:0.2ex;
	font-size:x-small;
}
div.footerMenu table{
	width:96%;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}
div.footerMenu table{
	text-align:left;
}

table.MenuTable{
 border-spacing: 1.5px;
 background-color:#FFD5A2;
 padding:0;
 font-size:small;
 color:#000000;
 vertical-align:top;
 text-align: justify;
}

.BusquedaTable{
 border-spacing: 1.5px;
 background-color:#FFD5A2;
 padding:0;
 color:#000000;
 vertical-align:top;
 text-align: justify;
 /*font-size: x-small;*/
}


tr.ListaTitulo{
	 border-spacing:0;
	 background-color:#CCCCCC;
	 padding:0;
	 /*font-size:x-small;*/
	 color:black;
	 vertical-align:middle;
}

td.ListaTitulo{

    background-color:#211A4E;
    border:thin outset #000000;
    color:#FFFFFF;
    font-size:12px;
    font-weight:bold;
}
td.busquedaIzda{
	font-size:x-small;
	text-align: left;
}
td.busquedaDcha{
	font-size:x-small;
	text-align: right;
}
/* ****************************** */
/* ** Capa de info flotante     * */
/* ****************************** */

div.finfo{
	position:absolute;
	display:none;
	visibility:collapse;
	margin-left:-15ex;
	margin-top:1.5em;
	text-align:left;
	width:70ex;
	max-height:180px;
	border-right-width:2px;
	border-bottom-width:2px;
	overflow:auto;
	z-index:100;
}

div.finfo table{
	width:100%;
}

/* Menú Inferior (Horizontal) */
div.bottomMenu{
	position:fixed;
	right:0;
	bottom:0;
	display:block;
	text-align:right;
}
div.bottomMenu{
	position:fixed;
	right:0;
	bottom:0;
	display:block;
	text-align:right;
}
div.bottomMenu table{
	width:60%;
	/*border-width:thin;
	border-style:inset;*/
	/*border-color:$escala0_00;*/
	/*background-color:#312d4e;*/
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}
div.bottomMenu td{
	/*background-color:#312d4e;*/
	background: none;
}
div.bottomMenuLeft{
	position:fixed;
	left:0;
	bottom:0;
	display:block;
	text-align:right;
}
div.bottomMenuLeft table{
	width:60%;
	border-width:thin;
	border-style:inset;
	/*border-color:$escala0_00;
	background-color:$escala1_01;*/
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}

/* Menú Inferior Izquierdo (Vertical Desplegable) */
div.footerMenu{
	z-index:5000;
	position:fixed;
	width:6%;
	left:0;
	bottom:-0.35em;
	display:block;
	text-align:right;
	letter-spacing:0.2ex;
}
div.footerMenu table{
	width:96%;
	border-width:thin;
	border-style:outset;
	border-color:$background;
	color:$white;
	background-color:$escala1_00;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}